.row{
    background-color: black ;
    color:white;
}
.row a:hover{
    color:white;
}
.col-sm-0{
    margin-top: 20px;
    margin-left: 50px;
    height: 100%;
}
a{color:white !important;}
.col-sm-1{
    margin-left: 20px;
    margin-top: 20px;
}
.col-sm-2{
    margin-top: 20px;  
}
/* Nút thả xuống */
.TOUR{
    background-color:black;
    color: white;
    padding: 16px;
    font-size: 15px;
    border: none; 
}
/* Container <div> - cần thiết để định vị nội dung thả xuống */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Nội dung thả xuống (Ẩn theo mặc định) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Liên kết bên trong danh sách thả xuống */
.dropdown-content a {
    color: black !important;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Thay đổi màu của liên kết thả xuống khi di chuột */
.dropdown-content a:hover {background-color: #ddd;}
/* Hiển thị menu thả xuống khi di chuột */
.dropdown:hover .dropdown-content {display: block;}
.footer{
    background: black;
    padding-top: 20px;
    color: white;
}
h3{text-align: center; color: rgb(33, 161, 161); text-decoration: underline;}
.content{
    background-color: white;
    color: black;
}
.hot1{ border: 1px solid rgb(50, 16, 117);
    border-radius: 15px;
    margin-bottom: 10px;
    overflow: auto;
    float: right;
}
.img1{
    float: left;
    width: 300px;
    height: 150px;
    margin-bottom: 5px;
}
h4{text-align: center; }
span{color: red;
    float: right;}
.more{color: navy !important;}
p{margin-bottom: 0;}
.l{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
    float: left;
    padding:0px 13px 0px ;
  }